//$hp-color: rgba(116,233,202);
//$tracker-color: rgba(213,78,192);
//$warning-color: rgba(188,26,15);
//$title-font: persona5;
//
@font-face {
  font-family: persona5;
  src: url(assets/fonts/p5hatty.ttf);
}

body {
}
//
//.row.numbers .warning {
//  animation: blink-animation 2s steps(10, start) infinite;
//  -webkit-animation: blink-animation 2s steps(10, start) infinite;
//}
//
//.hp.warning {
//  color: rgba(188,26,15, 0.9);
//}
//
//#hpBGBar.warning {
//  background-color: rgba(188,26,15, 0.2);
//}
//
//#hpBGBar.warning #health{
//  background-color: rgba(188,26,15);
//}
//
//@keyframes blink-animation {
//  from { opacity: 1.0; }
//  50% { opacity: 0.5; }
//  to { opacity: 1.0; }
//}
//@-webkit-keyframes blink-animation {
//  from { opacity: 1.0; }
//  50% { opacity: 0.5; }
//  to { opacity: 1.0; }
//}
//
//.row{
//  box-sizing: content-box;
//  line-height: 0.75em;
//  transform: rotate(-5deg);
//  font-size: 10em;
//  color: white;
//  font-family: persona5;
//  letter-spacing: 0.05em;
//  font-style: italic;
//  text-shadow: -10px 0 black, 0 10px black, 10px 0 black, 0 -10px black;
//}
//
//.row.numbers {
//  padding-left: 0.5em;
//}
//
//.hp {
//  color: rgba(116,233,202, 0.90);
//}
//
//.tracker {
//  color: rgba(213,78,192, 0.95);
//}
//
//#bar-container {
//  padding-left: 6em;
//}
//
//.backgroundBar {
//  margin: 0;
//  width: 85%;
//  box-sizing: content-box;
//}
//
//#hpBGBar {
//  background-color: rgba(116,233,202, 0.6);
//  margin-top: -10px;
//  transform: rotate(-6deg);
//}
//
//#mpBGBar {
//  background-color: rgba(213,78,192, 0.6);
//  margin-left: 5em;
//  transform: rotate(-7deg);
//}
//
//#health {
//  background-color: rgb(116, 233, 202);
//  height: 10px;
//}
//
//#magic {
//  background-color: rgb(213, 78, 192);
//  height: 10px;
//}
//
//.row.title .tracker{
//  padding-left: 1em;
//}
//
//.container {
//  width: fit-content;
//  padding: 1.5em 1.5em 1.5em 0;
//  /*background-color: black;*/
//  box-sizing: content-box;
//}
